@font-face {
	font-family: 'Gentium Basic';
	src: url('../assets/fonts/GenBkBasR.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Gentium Basic';
	src: url('../assets/fonts/GenBkBasB.ttf') format('truetype');
	font-weight: 600;
}
@font-face {
	font-family: 'Yeseva One';
	src: url('../fonts/YesevaOne-Regular_v2.otf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Lato';
	src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
}